\documentclass[nemilov1,titlepage]{{Nemilov}}

\input{{etc/settings}}

\begin{{document}}

\title{{{title}}}
\author{{{author}}}
\date{{{date}}}
\maketitle

\frontmatter
\tableofcontents

\mainmatter
{intro}
{lessons}

\cleardoublepage
\printbibliography

\appendix
{standards}
{glossary}
{links}
{extras}

\printindex

\end{{document}}
