<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/x-icon" href="@root/static/favicon.ico">
    <link rel="stylesheet" href="@root/static/mccole.css" type="text/css">
  </head>
  <body>
    <nav>
      <a href="@root/">Home</a>
      &middot;
      <span class="dropdown">
        <a href="#">Lessons</a>
        <span class="dropdown-content">
          <a href="@root/01_intro/">Introduction</a>
          <a href="@root/02_sex/">How Has the Porn Industry Shaped Privacy Rights?</a>
          <a href="@root/03_drugs/">How Are Big Tech Companies Like Cocaine Cartels?</a>
          <a href="@root/04_guns/">Why Are There So Many Shootings in the United States?</a>
          <a href="@root/05_code/">What Does It Mean for Software to Be Property?</a>
          <a href="@root/06_fraud/">How Do Tech Companies Get Away With Fraud?</a>
          <a href="@root/07_measure/">Why Is It So Hard to Measure the Productivity of Programmers?</a>
          <a href="@root/08_capture/">Why Is Bandwidth So Expensive?</a>
          <a href="@root/09_licensure/">Why Don't Software Engineers Need to Be Licensed?</a>
          <a href="@root/10_union/">Why Don't Software Engineers Join Unions?</a>
          <a href="@root/11_conway/">How Do Org Charts and Software Shape Each Other?</a>
          <a href="@root/12_central/">Why Does Central Planning Work for Companies When It Failed for Countries?</a>
          <a href="@root/13_governance/">Why Don't Do-ocracies Work (Either)?</a>
          <a href="@root/14_interrupt/">Who Gets To Interrupt Whom in Meetings?</a>
          <a href="@root/15_bullshit/">What Is "Bullshit" and Why Do People Believe It?</a>
        </span>
      </span>
      &middot;
      <span class="dropdown">
        <a href="#">Extras</a>
        <span class="dropdown-content">
          <a href="@root/license/">License</a>
          <a href="@root/conduct/">Code of Conduct</a>
          <a href="@root/bibliography/">Bibliography</a>
          <a href="@root/glossary/">Glossary</a>
        </span>
      </span>
    </nav>
    <main>
{{content}}
    </main>
    <footer>
      <a href="@root/">Organizational Change for Open Science</a>
      copyright &copy; 2025
      <a href="@root/01_intro/#acknowledgments">the authors</a>
    </footer>
  </body>
</html>
